.App{
background-image:url(https://image.shutterstock.com/image-vector/abstract-mash-line-point-scales-260nw-662423623.jpg);
background-size:cover;
width: 500px;
border: none;
border-radius: 20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%)
}

.credit{
  padding-top: 10px; 
  margin-left:50%;
  color: white;

}

.puce{
  width: 75px;
  height: 60px;
  margin-left:30px; 
}

.number{
 font-size: 30px;
 color: yellow ;
}
.n2{
  color: white;

}
.carholder{
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.master-card{
  width: 100px;
  padding-top: 50px;
}

.numbercarholder{
  display: flex;
  justify-content: space-around;
}